SMTP_HOST=mail.vacinaone.com.br
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@vacinaone.com.br
SMTP_PASS=
MAIL_FROM="VacinaOne <no-reply@vacinaone.com.br>"
LEAD_NOTIFICATION_TO=no-reply@vacinaone.com.br
LEAD_REPLY_TO=atendimento@vacinaone.com.br
GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEET_NAME=leads.csv
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PRIVATE_KEY_BASE64=
